%p#notice= notice

%h2.todo_list_title= @todo_list.titie
%p.todo_list_sub_title= @todo_list.description

#todo_items_wrapper
  =render @todo_list.todo_items
  #form
    =render "todo_items/form"
.links
  = link_to todo_lists_path do
    %i.fa.fa-backward
  = link_to edit_todo_list_path(@todo_list) do
    %i.fa.fa-pencil-square-o{:style => "padding-left: 1.8em"}
  = link_to todo_list_path(@todo_list), method: :delete, data: { confirm: "Are you sure?" } do
    %i.fa.fa-trash{:style => "padding-left: 1.8em"}
